:root {
  font-size: 10px;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

img {
  max-width: 100%;
  max-height: 100%;
}

.popup-open {
  overflow: hidden;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  max-width: 128rem;
  padding: 0 4rem;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 100%;
  min-height: 12rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  background-color: #FFFFFF;
}

.header__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.header .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header .logo__title {
  color: #545454;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 3.2rem;
  font-style: normal;
  font-weight: normal;
  line-height: 110%;
  letter-spacing: 0.192rem;
}

.header .logo__subtitle {
  margin-top: 10px;
  color: #292929;
  text-align: center;
  font-family: Arial;
  font-size: 1.3rem;
  font-style: normal;
  font-weight: normal;
  letter-spacing: 0.13rem;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 443px;
}

.menu__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style-type: none;
  width: 44.3rem;
  height: 100%;
}

.menu .list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.menu a {
  text-decoration: none;
}

.menu .list__link {
  color: #FFFFFF;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 160%;
}

.menu .list__link:hover {
  color: #292929;
}

.menu .list__link_active {
  color: #545454;
  border-bottom: solid 2px #F1CDB3;
}

.menu .list__link_disabled {
  color: #545454;
  padding-bottom: 2px;
}

.burger {
  display: none;
}

.pets {
  padding-top: 8rem;
  padding-bottom: 10rem;
  background-color: #F6F6F6;
}

.pets__wrapper-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.pets__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.pets h1 {
  visibility: hidden;
  height: 1px;
}

.pets__title {
  text-align: center;
  color: #545454;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 3.5rem;
  font-style: normal;
  font-weight: normal;
  line-height: 130%;
  letter-spacing: 0.21rem;
}

.pets__title span {
  display: block;
  letter-spacing: 0.21rem;
}

.pets__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 5.9rem;
}

.pets__cards-list {
  display: none;
  padding-left: 0;
  padding-right: 0;
  opacity: 0;
  -webkit-animation: fadeout 1s;
          animation: fadeout 1s;
}

.pets .cards-list-active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-column-gap: 4rem;
          column-gap: 4rem;
  row-gap: 3rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  opacity: 1;
  -webkit-animation: fadein 1s;
          animation: fadein 1s;
}

.pets__cards-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 3rem;
  height: 435px;
  background: #FAFAFA;
  border-radius: 9px;
  cursor: pointer;
}

.pets__cards-info:hover {
  -webkit-box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
          box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
}

.pets__cards-title {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 2rem;
  font-style: normal;
  font-weight: normal;
  line-height: 115%;
  letter-spacing: 0.12rem;
  color: #545454;
}

.pets__cards-button {
  color: #292929;
  /* border: 2px solid $color-primary;*/
  -webkit-box-shadow: inset 0 0 0 2px #F1CDB3;
          box-shadow: inset 0 0 0 2px #F1CDB3;
  background-color: transparent;
  border-radius: 10rem;
  padding: 1.5rem 4.5rem;
  border: none;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 1.7rem;
  color: #292929;
  line-height: 130%;
  font-weight: normal;
  letter-spacing: 0.1rem;
  cursor: pointer;
  outline: none;
}

.pets__cards-button:hover {
  background-color: #FDDCC4;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

.pets-pagination {
  margin-top: 6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.pets-pagination__button {
  margin: 0 1rem;
  border-radius: 100%;
  border: none;
  width: 5.2rem;
  height: 5.2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: inset 0 0 0 2px #F1CDB3;
          box-shadow: inset 0 0 0 2px #F1CDB3;
  background: transparent;
  cursor: pointer;
  outline: none;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 2rem;
  font-style: normal;
  font-weight: normal;
  line-height: 115%;
  letter-spacing: 0.12rem;
  color: .pets-pagination__button #292929;
}

.pets-pagination__button:hover {
  background-color: #FDDCC4;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

.pets-pagination__button:disabled {
  -webkit-box-shadow: inset 0 0 0 2px #CDCDCD;
          box-shadow: inset 0 0 0 2px #CDCDCD;
}

.pets-pagination__button-active {
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: #F1CDB3;
  cursor: pointer;
}

.pets-pagination__button-active:hover {
  background-color: #F1CDB3;
}

.pets-pagination__button:disabled {
  -webkit-box-shadow: inset 0 0 0 0.2rem #CDCDCD;
          box-shadow: inset 0 0 0 0.2rem #CDCDCD;
}

.pets-pagination__button:disabled:hover {
  -webkit-box-shadow: inset 0 0 0 0.2rem #CDCDCD;
          box-shadow: inset 0 0 0 0.2rem #CDCDCD;
  background: transparent;
  cursor: default;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: url(../../assets/images/noise_transparent.png), radial-gradient(110.67% 538.64% at 5.73% 50%, #513D2F 0%, #1A1A1C 100%), #211F20;
}

.footer__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__question {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 27.9rem;
  padding: 5.7rem 0 2.7rem 0;
}

.footer__question-title {
  margin-bottom: 3.8rem;
  color: #FFFFFF;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 3.5rem;
  font-style: normal;
  font-weight: normal;
  line-height: 130%;
  letter-spacing: 0.21rem;
}

.footer__question-title span {
  display: block;
  letter-spacing: 0.21rem;
}

.footer__question-email {
  margin-bottom: 4rem;
}

.footer__question-email a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
}

.footer__question-email p {
  margin-left: 2rem;
  color: #F1CDB3;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 2rem;
  font-style: normal;
  font-weight: normal;
  line-height: 115%;
  letter-spacing: 0.12rem;
  text-decoration: none;
}

.footer__question-phone a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
}

.footer__question-phone p {
  margin-left: 2rem;
  color: #F1CDB3;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 2rem;
  font-style: normal;
  font-weight: normal;
  line-height: 115%;
  letter-spacing: 0.12rem;
  text-decoration: none;
}

.footer__addres {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 30.2rem;
  padding: 5.7rem 0 2.7rem 0;
}

.footer__addres-title {
  color: #FFFFFF;
  margin-bottom: 3.4rem;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 3.5rem;
  font-style: normal;
  font-weight: normal;
  line-height: 130%;
  letter-spacing: 0.21rem;
}

.footer__addres-title span {
  display: block;
  letter-spacing: 0.21rem;
}

.footer__addres-info a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 3.2rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
}

.footer__addres-info p {
  margin-left: 2rem;
  color: #F1CDB3;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 2rem;
  font-style: normal;
  font-weight: normal;
  line-height: 115%;
  letter-spacing: 0.12rem;
}

.footer__image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 1;
  background-color: rgba(41, 41, 41, 0.6);
}

.popup__wrapper {
  width: 952px;
}

.popup__scr-active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  opacity: 1;
  -webkit-animation: fadein 1s;
          animation: fadein 1s;
}

.popup__close-btn-wrapper {
  width: 52px;
  height: 52px;
  margin-left: auto;
  margin-right: 10px;
}

.popup__close-btn {
  border-radius: 100%;
  border: none;
  width: 5.2rem;
  height: 5.2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: inset 0 0 0 2px #F1CDB3;
          box-shadow: inset 0 0 0 2px #F1CDB3;
  background: transparent;
  cursor: pointer;
  outline: none;
}

.popup__close-btn:hover {
  background-color: #FDDCC4;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

.popup__close-btn:disabled {
  -webkit-box-shadow: inset 0 0 0 2px #CDCDCD;
          box-shadow: inset 0 0 0 2px #CDCDCD;
}

.popup__close-btn-active {
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: #F1CDB3;
  cursor: pointer;
}

.popup__close-btn-active:hover {
  background-color: #F1CDB3;
}

.popup__close-btn:disabled {
  -webkit-box-shadow: inset 0 0 0 0.2rem #CDCDCD;
          box-shadow: inset 0 0 0 0.2rem #CDCDCD;
}

.popup__close-btn:disabled:hover {
  -webkit-box-shadow: inset 0 0 0 0.2rem #CDCDCD;
          box-shadow: inset 0 0 0 0.2rem #CDCDCD;
  background: transparent;
  cursor: pointer;
}

.popup:hover .btn {
  background-color: #F1CDB3;
}

.popup__pets-info {
  width: 900px;
  height: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #FAFAFA;
  border-radius: 9px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
          box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
  z-index: 1;
}

.popup__pets-img {
  width: 500px;
  border-radius: 9px;
}

.popup__content {
  width: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 51px 20px 50px 30px;
}

.popup__content-title {
  margin-top: 0;
  text-align: left;
  color: #000;
  margin-bottom: 9px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 3.5rem;
  font-style: normal;
  font-weight: normal;
  line-height: 130%;
  letter-spacing: 0.21rem;
}

.popup__content-subtitle {
  color: #000;
  margin-bottom: 40px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 2rem;
  font-style: normal;
  font-weight: normal;
  line-height: 115%;
  letter-spacing: 0.12rem;
}

.popup__description {
  margin-top: 0;
  font-size: 15px;
  line-height: 17.5px;
  font-family: Georgia, serif;
  letter-spacing: 0.06em;
  text-align: left;
  margin-bottom: 41px;
  color: #000;
}

.popup__content-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-family: Georgia, serif;
  font-size: 20px;
  line-height: 23px;
  font-size: 15px;
  line-height: 16.5px;
  letter-spacing: 0.06em;
}

.popup__list-item {
  padding-left: 14px;
  margin-bottom: 12px;
  position: relative;
}

.popup__list-item::before {
  content: '';
  width: 4px;
  height: 4px;
  background-color: #F1CDB3;
  border-radius: 50%;
  position: absolute;
  top: 6px;
  left: 0;
}

@media (min-width: 768px) and (max-width: 1279px) {
  .wrapper {
    max-width: 76.8rem;
    padding: 0 3rem;
  }
  .pets {
    padding-bottom: 7.5rem;
  }
  .pets__cards {
    margin-top: 3rem;
  }
  .pets .pets-pagination {
    margin-top: 4rem;
  }
  .footer__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-column-gap: 6rem;
            column-gap: 6rem;
  }
  .footer__question {
    padding: 3rem 0 3.2rem 0;
  }
  .footer__addres {
    padding: 3rem 0 3.2rem 0;
  }
}

@media (max-width: 767px) {
  .wrapper {
    max-width: 32rem;
    padding: 0 1rem;
  }
  .header {
    padding-top: 0;
    right: 0;
    top: 0;
    left: inherit;
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
    background-color: #FFFFFF;
  }
  .header__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100vw;
  }
  .header .logo__title {
    color: #545454;
  }
  .header .logo__subtitle {
    margin-top: 10px;
    color: #292929;
    text-align: center;
    font-family: Arial;
    font-size: 1.3rem;
    font-style: normal;
    font-weight: normal;
    letter-spacing: 0.13rem;
  }
  .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    width: 443px;
    width: 320px;
    height: 100vh;
    z-index: 0;
    -webkit-transform: translateX(320px);
            transform: translateX(320px);
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    position: absolute;
    background: #292929;
    top: 0px;
    right: 0px;
    z-index: 0;
  }
  .menu__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    list-style-type: none;
    width: 44.3rem;
    height: 100%;
  }
  .menu .list__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    cursor: pointer;
  }
  .menu a {
    text-decoration: none;
  }
  .menu .list__link {
    color: #FFFFFF;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 160%;
  }
  .menu .list__link:hover {
    color: #292929;
  }
  .menu .list__link_active {
    color: #545454;
    border-bottom: solid 2px #F1CDB3;
  }
  .menu .list__link_disabled {
    color: #545454;
    padding-bottom: 2px;
  }
  .burger__wrapper {
    position: absolute;
    display: block;
    right: calc(53px - (100vw - 100%));
  }
  .header .burger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 54px;
    margin-right: 43px;
    z-index: 4;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header .burger__wrapper {
    width: 30px;
    height: 22px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: auto;
    cursor: pointer;
  }
  .header .burger__item {
    width: 100%;
    height: 2px;
    background-color: #292929;
  }
  .header__active {
    height: 100%;
    padding-top: 0;
  }
  .header__active .logo {
    width: 300px;
    margin-right: 40px;
    z-index: 4;
  }
  .header__active .menu__wrapper {
    background-color: rgba(41, 41, 41, 0.6);
  }
  .header__active .burger {
    height: 54px;
  }
  .header__active .burger__wrapper {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
  .header__active .burger__item {
    width: 100%;
    height: 2px;
    background-color: #F1CDB3;
  }
  .header__active .menu {
    top: 0px;
    right: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  .header__active .menu__list {
    padding-top: 50px;
  }
  .header__active .header__white {
    background-color: transparent;
  }
  .header__white:not(.header__active) .navigation__item a,
  .header__white:not(.header__active) .navigation__item a.active {
    color: white;
  }
}
/*# sourceMappingURL=pets.css.map */