:root {
  font-size: 10px;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  padding: 0 40px;
  width: 1280px;
}

.header {
  left: 0;
  right: 0;
  position: absolute;
  top: 60px;
}

.header__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header .logo__title {
  color: #F1CDB3;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 3.2rem;
  font-style: normal;
  font-weight: normal;
  line-height: 110%;
  letter-spacing: 0.19rem;
}

.header .logo__subtitle {
  margin-top: 10px;
  color: #FFFFFF;
  text-align: center;
  font-family: Arial;
  font-size: 1.3rem;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.13rem;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 443px;
}

.menu .list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  list-style-type: none;
}

.menu .list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu .list__link {
  color: #FFFFFF;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 160%;
}

.menu .list__link_active {
  border-bottom: solid 2px #F1CDB3;
}

.menu .list__link_disabled {
  color: #CDCDCD;
  padding-bottom: 2px;
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 180px;
  background: url(../../assets/noise_transparent.png), radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%), #211F20;
}

.hero__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.hero__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hero__content-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 81px;
  width: 46rem;
}

.hero .content-section__title {
  color: #FFFFFF;
  width: 31rem;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 4.4rem;
  font-weight: 400;
  line-height: 130%;
}

.hero .content-section__subtitle {
  margin-top: 41px;
  font-family: Arial, Helvetica, sans-serif;
  color: #CDCDCD;
  font-size: 1.5rem;
  line-height: 160%;
  width: 46rem;
}

.hero .content-section__button {
  margin-top: 40px;
  width: 207px;
  background-color: #F1CDB3;
  border-radius: 10rem;
  padding: 1.5rem 4.5rem;
  border: none;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 1.7rem;
  color: #292929;
  line-height: 130%;
  font-weight: normal;
  letter-spacing: 0.1rem;
  cursor: pointer;
  outline: none;
}

.hero .content-section__button:hover {
  background-color: #FDDCC4;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

.hero h1 {
  visibility: hidden;
  width: 1px;
}

.hero .hero__image-wrapper {
  padding-left: 41px;
}

.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.about__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 8rem 17.5rem 10rem 17.5rem;
}

.about__image-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.about__image {
  max-width: 300px;
  height: 100%;
}

.about__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-self: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 43rem;
}

.about__title {
  color: #545454;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 3.5rem;
  font-style: normal;
  font-weight: normal;
  line-height: 130%;
  letter-spacing: 0.21rem;
}

.about__title span {
  display: block;
  letter-spacing: 0.21rem;
}

.about__description {
  margin-top: 2.5rem;
}

.about__description p {
  color: #4C4C4C;
  font-family: Arial;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: normal;
  line-height: 160%;
}

.about__description p:nth-child(2) {
  margin-top: 2.5rem;
}

.pets {
  padding-top: 7.8rem;
  padding-bottom: 10rem;
  background-color: #F6F6F6;
}

.pets__wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pets__title {
  width: 40rem;
  text-align: center;
  color: #545454;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 3.5rem;
  font-style: normal;
  font-weight: normal;
  line-height: 130%;
  letter-spacing: 0.21rem;
}

.pets__title span {
  display: block;
  letter-spacing: 0.21rem;
}

.pets__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 6rem 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pets__content .slider-button {
  -webkit-box-shadow: inset 0 0 0 2px #F1CDB3;
          box-shadow: inset 0 0 0 2px #F1CDB3;
  border-radius: 100%;
  background: transparent;
  border: none;
  width: 5.2rem;
  height: 5.2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  outline: none;
}

.pets__content .slider-button:hover {
  background-color: #FDDCC4;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

.pets__content .slider-button:disabled {
  -webkit-box-shadow: inset 0 0 0 2px #CDCDCD;
          box-shadow: inset 0 0 0 2px #CDCDCD;
}

.pets__content .slider-button_reverted {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  -webkit-box-shadow: inset 0 0 0 2px #F1CDB3;
          box-shadow: inset 0 0 0 2px #F1CDB3;
  border-radius: 100%;
  background: transparent;
  border: none;
  width: 5.2rem;
  height: 5.2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  outline: none;
}

.pets__content .slider-button_reverted:hover {
  background-color: #FDDCC4;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

.pets__content .slider-button_reverted:disabled {
  -webkit-box-shadow: inset 0 0 0 2px #CDCDCD;
          box-shadow: inset 0 0 0 2px #CDCDCD;
}

.pets__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 99rem;
  margin: 0 5.3rem;
}

.pets__cards-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 3rem;
  width: 270px;
  height: 435px;
  background: #FAFAFA;
  border-radius: 9px;
}

.pets__cards-info:hover {
  -webkit-box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
          box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
}

.pets__cards-title {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 2rem;
  font-style: normal;
  font-weight: normal;
  line-height: 115%;
  letter-spacing: 0.12rem;
  color: #545454;
}

.pets__cards-button {
  /* border: 2px solid $color-primary;*/
  -webkit-box-shadow: inset 0 0 0 2px #F1CDB3;
          box-shadow: inset 0 0 0 2px #F1CDB3;
  background-color: transparent;
  border-radius: 10rem;
  padding: 1.5rem 4.5rem;
  border: none;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 1.7rem;
  color: #292929;
  line-height: 130%;
  font-weight: normal;
  letter-spacing: 0.1rem;
  cursor: pointer;
  outline: none;
}

.pets__cards-button:hover {
  background-color: #FDDCC4;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

.pets__button {
  background-color: #F1CDB3;
  border-radius: 10rem;
  padding: 1.5rem 4.5rem;
  border: none;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 1.7rem;
  color: #292929;
  line-height: 130%;
  font-weight: normal;
  letter-spacing: 0.1rem;
  cursor: pointer;
  outline: none;
}

.pets__button:hover {
  background-color: #FDDCC4;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}
/*# sourceMappingURL=main.css.map */