$color-primary: #F1CDB3;
$color-primary-light: #FDDCC4;
$color-light-s: #FAFAFA;
$color-light-l: #F6F6F6;
$color-light-xl: #FFFFFF;
$color-dark-s: #CDCDCD;
$color-dark-m: #B2B2B2;
$color-dark-l: #545454;
$color-dark-xl: #4C4C4C;
$color-dark-2xl: #444444;
$color-dark-3xl: #292929;
$start-screen-gradient-background: url(../../assets/images/noise_transparent.png),
radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%),
#211F20;
$footer-gradient-background: url(../../assets/images/noise_transparent.png),
radial-gradient(110.67% 538.64% at 5.73% 50%, #513D2F 0%, #1A1A1C 100%),
#211F20;
 :root {
    font-size: 10px;
}

@mixin h2 {
    font: {
        family: Georgia, 'Times New Roman', Times, serif;
        size: 4.4rem;
        weight: 400;
    }
    line-height: 130%;
}

@mixin h3 {
    font: {
        family: Georgia, 'Times New Roman', Times, serif;
        size: 3.5rem;
        style: normal;
        weight: normal;
    }
    line-height: 130%;
    letter-spacing: 0.21rem;
}

@mixin h4 {
    font: {
        family: Georgia, 'Times New Roman', Times, serif;
        size: 2rem;
        style: normal;
        weight: normal;
    }
    line-height: 115%;
    letter-spacing: 0.12rem;
}

@mixin h5 {
    font: {
        family: Georgia, 'Times New Roman', Times, serif;
        size: 1.5rem;
        style: normal;
        weight: normal;
    }
    line-height: 110%;
    letter-spacing: 0.09rem;
    color: $color-dark-l;
}

@mixin paragraph-l {
    font: {
        family: Arial;
        size: 1.5rem;
        style: normal;
        weight: normal;
    }
    line-height: 160%;
}

@mixin paragraph-s {
    font: {
        family: Arial;
        size: 1.2rem;
        style: italic;
        weight: normal;
    }
    line-height: 150%;
}

@mixin logo_title {
    font: {
        family: Georgia, 'Times New Roman', Times, serif;
        size: 3.2rem;
        style: normal;
        weight: normal;
    }
    line-height: 110%;
    letter-spacing: 0.19rem;
}

@mixin logo_subtitle {
    font: {
        family: Arial;
        size: 1.3rem;
        style: normal;
        weight: 400;
    }
    letter-spacing: 0.13rem;
}

@mixin donation-description {
    font: {
        family: Arial;
        size: 1.2rem;
        style: italic;
        weight: normal;
    }
    line-height: 1.8rem;
    color: $color-dark-m;
}

@mixin button {
    border-radius: 10rem;
    padding: 1.5rem 4.5rem;
    border: none;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.7rem;
    color: $color-dark-3xl;
    line-height: 130%;
    font-weight: normal;
    letter-spacing: 0.1rem;
    cursor: pointer;
    outline: none;
}

@mixin button_color {
    background-color: $color-primary;
    @include button;
    &:hover {
        background-color: $color-primary-light;
        transition-duration: 0.5s;
    }
}

@mixin button_border {
    /* border: 2px solid $color-primary;*/
    box-shadow: inset 0 0 0 2px $color-primary;
    background-color: transparent;
    @include button;
    &:hover {
        background-color: $color-primary-light;
        box-shadow: none;
        transition-duration: 0.5s;
    }
}

@mixin slider_button {
    box-shadow: inset 0 0 0 2px $color-primary;
    border-radius: 100%;
    background: transparent;
    border: none;
    width: 5.2rem;
    height: 5.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    outline: none;
    &:hover {
        background-color: $color-primary-light;
        box-shadow: none;
        transition-duration: 0.5s;
    }
    &:disabled {
        box-shadow: inset 0 0 0 2px $color-dark-s;
    }
}

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.wrapper {
    display: flex;
    margin: 0 auto;
    // padding: 0 40px;
    // width: 1280px;
    max-width: 128rem;
    padding: 0 4rem;
    flex: 1;
}

.header {
    left: 0;
    right: 0;
    position: absolute;
    top: 60px;
    &__wrapper {
        display: flex;
        justify-content: space-between;
    }
    .logo {
        display: flex;
        flex-direction: column;
        &__title {
            color: $color-primary;
            font-family: Georgia, 'Times New Roman', Times, serif;
            @include logo_title;
        }
        &__subtitle {
            margin-top: 10px;
            color: $color-light-xl;
            text-align: center;
            @include logo_subtitle;
        }
    }
}

.menu {
    display: flex;
    width: 44.3rem;
    .list {
        display: flex;
        justify-content: space-between;
        width: 100%;
        list-style-type: none;
    }
    .list__item {
        display: flex;
        align-items: center;
        cursor: pointer;
    }
    .list__link {
        color: $color-light-xl;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 1.5rem;
        font-weight: 400;
        line-height: 160%;
        &:hover {
            border-bottom: solid 2px $color-primary;
            color: $color-light-s;
        }
    }
    .list__link_active {
        color: $color-light-s;
        border-bottom: solid 2px $color-primary;
    }
    .list__link_disabled {
        color: $color-dark-s;
        padding-bottom: 2px;
    }
}

.main {
    display: flex;
    flex-direction: column;
}

.hero {
    display: flex;
    padding-top: 17.8rem;
    background: $start-screen-gradient-background;
    &__wrapper {
        display: flex;
        justify-content: space-between;
    }
    &__content {
        display: flex;
    }
    &__content-section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-bottom: 8rem;
        max-width: 46rem;
    }
    .content-section__title {
        color: $color-light-xl;
        width: 31rem;
        @include h2;
    }
    .content-section__subtitle {
        margin-top: 4.1rem;
        font-family: Arial, Helvetica, sans-serif;
        color: $color-dark-s;
        font-size: 1.5rem;
        line-height: 160%;
        width: 46rem;
    }
    .content-section__button {
        margin-top: 4rem;
        width: 20.7rem;
        @include button_color;
    }
    h1 {
        visibility: hidden;
        width: 1px;
    }
    .hero__image-wrapper {
        padding-left: 4.1rem;
    }
}

.about {
    display: flex;
    padding-top: 8rem;
    padding-bottom: 10rem;
    &__wrapper {
        display: flex;
        width: 100%;
        justify-content: space-between;
        padding: 0 21.5rem;
    }
    &__image-wrapper {
        display: flex;
    }
    &__image {
        width: 300px;
        height: 408px;
    }
    &__content {
        display: flex;
        justify-self: center;
        flex-direction: column;
        justify-content: center;
        width: 43rem;
    }
    &__title {
        span {
            display: block;
            letter-spacing: 0.21rem;
        }
        color: $color-dark-l;
        @include h3;
    }
    &__description {
        color: $color-dark-xl;
        margin-top: 2.5rem;
        p {
            &:nth-child(2) {
                margin-top: 2.5rem;
            }
            color: $color-dark-xl;
            @include paragraph-l;
        }
    }
}

.pets {
    padding-top: 8rem;
    padding-bottom: 10rem;
    background-color: $color-light-l;
    &__wrapper {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__title {
        text-align: center;
        span {
            display: block;
            letter-spacing: 0.21rem;
        }
        color: $color-dark-l;
        @include h3;
    }
    &__content {
        display: flex;
        padding: 6rem 0;
        align-items: center;
        .slider-button {
            @include slider_button;
        }
        .slider-button_reverted {
            transform: rotate(180deg);
            @include slider_button;
        }
    }
    &__cards {
        display: flex;
        justify-content: space-between;
        width: 99rem;
        margin: 0 5.3rem;
    }
    &__cards-info {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        padding-bottom: 3rem;
        width: 270px;
        height: 435px;
        background: $color-light-s;
        border-radius: 9px;
        &:hover {
            box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
        }
    }
    &__cards-title {
        @include h4;
        color: $color-dark-l;
    }
    &__cards-button {
        color: $color-dark-3xl;
        @include button_border;
    }
    &__button {
        @include button_color;
    }
}

.help {
    padding-top: 8rem;
    padding-bottom: 10rem;
    &__wrapper {
        display: flex;
        flex-direction: column;
    }
    &__title {
        text-align: center;
        span {
            display: block;
            letter-spacing: 0.21rem;
        }
        color: $color-dark-l;
        @include h3;
    }
    &__table {
        margin-top: 6rem;
        // padding: 3.25rem 0;
        // width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        column-gap: 12rem;
        row-gap: 5.5rem;
    }
    &__table-point {
        // margin: 2.75rem 6rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    &__table-title {
        margin-top: 3rem;
        display: flex;
        justify-content: center;
        color: $color-dark-l;
        @include h4;
    }
}

.donation {
    padding-top: 8.2rem;
    padding-bottom: 10.1rem;
    background-color: $color-light-l;
    &__wrapper {
        display: flex;
        justify-content: center;
    }
    &__image-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__image {
        max-width: 50.5rem;
        max-height: 26.1rem;
    }
    &__content {
        display: flex;
        flex-direction: column;
        width: 38rem;
        margin-left: 3rem;
    }
    &__content-title {
        span {
            display: block;
            letter-spacing: 0.21rem;
        }
        color: $color-dark-l;
        @include h3;
    }
    &__content-text {
        margin-top: 2rem;
        @include h5;
    }
    &__content-card {
        display: flex;
        justify-content: space-between;
        max-width: 34.9rem;
        border-radius: 0.9rem;
        margin-top: 2rem;
        padding: 1rem 1.5rem;
        border: none;
        background-color: $color-primary;
        cursor: pointer;
        outline: none;
        a {
            text-decoration: none;
            color: $color-dark-l;
            @include h4;
        }
        &:hover {
            background-color: $color-primary-light;
            box-shadow: none;
            transition-duration: 0.5s;
        }
    }
    &__content-info {
        margin-top: 2rem;
        max-width: 38rem;
        @include donation-description;
    }
}

.footer {
    display: flex;
    background: $footer-gradient-background;
    &__wrapper {
        display: flex;
        justify-content: space-between;
    }
    &__question {
        display: flex;
        flex-direction: column;
        max-width: 27.9rem;
        padding: 5.7rem 0 2.7rem 0;
    }
    &__question-title {
        margin-bottom: 3.8rem;
        color: $color-light-xl;
        @include h3;
        span {
            display: block;
            letter-spacing: 0.21rem;
        }
    }
    &__question-email {
        margin-bottom: 4rem;
        a {
            display: flex;
            align-items: center;
            text-decoration: none;
        }
        p {
            margin-left: 2rem;
            color: $color-primary;
            @include h4;
            text-decoration: none;
        }
    }
    &__question-phone {
        a {
            display: flex;
            align-items: center;
            text-decoration: none;
        }
        p {
            margin-left: 2rem;
            color: $color-primary;
            @include h4;
            text-decoration: none;
        }
    }
    &__addres {
        display: flex;
        flex-direction: column;
        max-width: 30.2rem;
        padding: 5.7rem 0 2.7rem 0;
    }
    &__addres-title {
        color: $color-light-xl;
        margin-bottom: 3.4rem;
        @include h3;
        span {
            display: block;
            letter-spacing: 0.21rem;
        }
    }
    &__addres-info {
        a {
            display: flex;
            margin-bottom: 3.2rem;
            align-items: center;
            text-decoration: none;
        }
        p {
            margin-left: 2rem;
            color: $color-primary;
            @include h4;
        }
    }
    &__image {
        display: flex;
        align-items: flex-end;
    }
}