.use-keyboard-input {
    display: block;
    width: 90%;
    margin: 30px auto;
    padding: 10px;
    font-size: 20px;
    height: calc(100vh - 380px);
    min-height: 300px;
}

.keyboard {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 5px 0;
    background: #575656;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
    user-select: none;
    transition: bottom 0.4s;
}

.keyboard--hidden {
    bottom: -100%;
}

.keyboard__keys {
    text-align: center;
}

.keyboard__key {
    height: 45px;
    width: 6%;
    max-width: 90px;
    margin: 3px;
    border-radius: 4px;
    /* border: none; */
    background: rgba(255, 255, 255, 0.2);
    color: #ffffff;
    font-size: 1.3em;
    outline: none;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    vertical-align: top;
    padding: 0;
    -webkit-tap-highlight-color: transparent;
    position: relative;
    transition: all 0.07s;
}

.keyboard__key:active {
    background: rgba(255, 255, 255, 0.12);
}

.keyboard__key--wide {
    width: 12%;
}

.keyboard__key--extra-wide {
    width: 36%;
    max-width: 500px;
}

.keyboard__key--activatable::after {
    content: '';
    top: 10px;
    right: 10px;
    position: absolute;
    width: 8px;
    height: 8px;
    background: rgba(100, 100, 100, 0.4);
    border-radius: 50%;
}

.keyboard__key--active::after {
    background: rgb(0, 255, 21);
}

.keyboard__key--dark {
    background: rgba(29, 27, 36, 0.4);
}

.material-icons {
    max-width: 30%;
}

.keyboard__key--playing {
    transform: scale(1.1);
    border-color: khaki;
    box-shadow: 0 0 10px khaki;
}

.keyboard__key--down {
    /* background-color: rgba(60, 201, 25, 1); */
    color: rgb(0, 255, 21);
    box-shadow: inset 0 0 0 2px rgb(0, 255, 21, 0.6);
}

.keyboard__key--active-speech {
    color: rgb(255, 0, 0, 0.7);
}

@media (max-width: 900px) {
    .use-keyboard-input {
        min-height: 200px;
    }
    .keyboard__key {
        height: 40px;
        width: 6%;
        max-width: 80px;
        margin: 2px;
        font-size: 1em;
    }
    .keyboard__key--wide {
        width: 10%;
    }
    .keyboard__key--extra-wide {
        width: 34%;
        max-width: 300px;
    }
    .keyboard__key--activatable::after {
        top: 6px;
        right: 6px;
    }
}