:root {
    font-size: 10px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(100, 92, 159);
}

a {
    text-decoration: none;
}

i {
    font-style: normal;
}

.wrapper {
    display: flex;
    margin: 0 auto;
    padding: 0 4rem;
    flex: 1;
}

.header__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 85%;
    height: 3.5rem;
    max-width: 155rem;
    margin: 3rem auto 0;
}


/* Burger menu */

.header__burger {
    z-index: 102;
    width: 4.5rem;
    height: 3.5rem;
    position: relative;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}

.header__burger .burger__item:nth-child(2),
.header__burger .burger__item:nth-child(3) {
    top: 1.2rem;
}

.header__burger .burger__item:nth-child(4) {
    top: 2.4rem;
}

.burger__item {
    display: block;
    position: absolute;
    height: 0.4rem;
    width: 4.5rem;
    border-radius: 1rem;
    opacity: 1;
    left: 0;
    background-color: rgb(238, 209, 2);
    box-shadow: 1px 1px 1px black;
    transform: rotate(0deg);
    transition: 0.25s ease-in-out;
}

.header__burger.open {
    transform: translate(14rem, 0);
}

.header__burger.open .burger__item:nth-child(1),
.header__burger.open .burger__item:nth-child(4) {
    top: 1.8rem;
    width: 0%;
    left: 50%;
}

.header__burger.open .burger__item:nth-child(2) {
    transform: rotate(45deg);
    background-color: rgb(100, 92, 159);
}

.header__burger.open .burger__item:nth-child(3) {
    transform: rotate(-45deg);
    background-color: rgb(100, 92, 159);
}

.stop-scroll {
    overflow: hidden;
}


/* MENU */

.menu {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    position: fixed;
    z-index: 101;
    width: 32rem;
    height: 100%;
    padding: 9rem 0px 5rem;
    left: -50rem;
    bottom: 0;
    background: rgb(247, 235, 144);
    list-style-type: none;
    transition: 0.5s ease;
    box-shadow: 2px 2px 5px rgb(48, 48, 48);
}

.blackout {
    display: none;
}

.blackout.active {
    height: calc(100vh + 0px);
    width: calc(100vw + 0px);
    background: #00000035;
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    display: block;
}

.menu.show {
    left: 0;
    bottom: 0;
}

.menu__item {
    font-family: "Inter", Verdana, sans-serif;
    margin: 1rem 0 0 5rem;
    font-size: 2.5rem;
    font-weight: 600;
    letter-spacing: 0.13rem;
    color: rgb(86, 50, 86);
}

.menu__item.active {
    color: rgb(190, 113, 190);
}

.menu__item:hover {
    cursor: pointer;
    font-weight: 700;
    color: rgb(190, 113, 190);
}


/* ICON */

.menu__item i:before {
    content: "";
    display: inline-block;
    position: relative;
    margin-right: 20px;
    top: 7px;
    background-position: center;
    background-size: contain;
}

.menu__link:before {
    width: 3.5rem;
    height: 3.5rem;
    background-repeat: no-repeat;
    background-position: center;
}

.menu__link.main:before {
    background-image: url(./assets/img/main.png);
}

.menu__link.action:before {
    background-image: url(./assets/img/action.png);
}

.menu__link.food:before {
    background-image: url(./assets/img/food.ico);
}

.menu__link.nature:before {
    background-image: url(./assets/img/nature.ico);
}

.menu__link.pets:before {
    background-image: url(./assets/img/pets.svg);
}

.menu__link.wildanimals:before {
    background-image: url(./assets/img/animal.svg);
}

.menu__link.clothes:before {
    background-image: url(./assets/img/clothes.ico);
}

.menu__link.emotions:before {
    background-image: url(./assets/img/emotions.png);
}

.menu__link.colors:before {
    background-image: url(./assets/img/colors.png);
}

.menu__link.statistics:before {
    background-image: url(./assets/img/statistics.png);
}


/* TITLE */

.header__title {
    font-family: 'Sigmar One', cursive;
    color: rgb(215, 218, 214);
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 0.5rem;
    text-shadow: 1px 1px 1px black;
    transition: all 0.5s ease;
}

.header__title:hover {
    cursor: pointer;
    color: rgb(245, 231, 126);
    transform: translate(0, -5px);
}

.switch {
    opacity: 0;
    height: 0;
    width: 0;
}

.switch__label {
    position: relative;
    cursor: pointer;
    display: inline-block;
    width: 11rem;
    height: 4rem;
    background: rgb(238, 209, 2);
    border-radius: 4rem;
    box-shadow: 1px 1px 2px black;
    transition: 500ms;
    overflow: hidden;
}

.switch__toggle {
    position: absolute;
    display: inline-block;
    top: 0.3rem;
    left: 0.3rem;
    width: 3.4rem;
    height: 3.4rem;
    border-radius: 50%;
    z-index: 5;
    background: rgb(215, 218, 214);
    box-shadow: 1px 1px 2px black;
    overflow: hidden;
    transition: all 300ms ease-out;
}

.switch__toggle:hover {
    background: rgb(255, 255, 255);
}

.switch__train {
    color: rgb(86, 50, 86);
    position: relative;
    top: 1rem;
    left: 4rem;
    font-family: 'Inter', sans-serif;
    text-transform: uppercase;
    font-size: 2rem;
    transition: 0.5s ease;
}

.switch__play {
    display: none;
    transition: 0.5s ease;
}

#switch__id:checked+.switch__label .switch__play {
    color: white;
    position: relative;
    top: 1rem;
    left: 1.5rem;
    font-family: 'Inter', sans-serif;
    text-transform: uppercase;
    font-size: 2rem;
    display: inline;
}

#switch__id:checked+.switch__label .switch__toggle {
    background: rgb(215, 218, 214);
    transform: translateX(7rem);
}

#switch__id:checked+.switch__label .switch__toggle:hover {
    background: rgb(255, 255, 255);
}

#switch__id:checked+.switch__label {
    background: rgb(188, 144, 186);
}

#switch__id:checked+.switch__label .switch__train {
    display: none;
}


/* Main  */

.main {
    padding-top: 2rem;
}


/* game begin button */

.panel_start-game {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    position: fixed;
    z-index: 8;
    width: 8rem;
    height: 8rem;
    /* padding: 9rem 0px 5rem; */
    right: -15rem;
    top: 15rem;
    background: rgb(188, 144, 186);
    transition: all 0.5s ease-in-out;
    box-shadow: -2px 2px 8px rgb(48, 48, 48);
    border-radius: 19px 0 0 19px;
}

.panel_start-game.open {
    right: 0;
}

.start_game,
.repeat_audio {
    /* display: block; */
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    top: 1rem;
    left: 1rem;
    width: 6rem;
    height: 6rem;
    position: absolute;
    border-radius: 50%;
    box-shadow: 0px 2px 25px 14px rgba(230, 247, 156, 0.3);
}

.start_game {
    background-image: url("assets/img/start_game.png");
}

.start_game.light {
    animation-name: ligthing;
    animation-duration: 0.3s;
    animation-iteration-count: infinite;
}

@keyframes ligthing {
    from {
        box-shadow: 0px 2px 25px 14px rgba(230, 247, 156, 0.3);
        background-image: url("assets/img/start_game.png");
    }
    to {
        box-shadow: 2px 3px 25px 10px rgba(84, 90, 55, 0.3);
        background-image: url("assets/img/start_game_light.png");
    }
}

.repeat_audio {
    background-image: url("assets/img/reloud_button.png");
}

.start_game.none,
.repeat_audio.none {
    display: none;
}

.start_game:hover,
.repeat_audio:hover {
    cursor: pointer;
    box-shadow: -2px 2px 5px rgb(63, 63, 63);
}

.start_game:active,
.repeat_audio:active {
    width: 5.5rem;
    height: 5.5rem;
    top: 1.2rem;
    left: 1.2rem;
}


/* Container for star */

.play__result {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    height: 2rem;
    width: 90%;
    margin: 0 auto;
}

.star-win {
    background-image: url("assets/img/star-win.png");
}

.star {
    background-image: url("assets/img/star.png");
}

.star-win,
.star {
    height: 2.7rem;
    width: 2.7rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    margin-left: 0.5rem;
}


/* Cards properties */

.cards__wrapper {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    column-gap: 4rem;
    row-gap: 3rem;
    margin: 2rem 8rem 3rem;
}

.cards__wrapper.all_categories.none,
.cards__wrapper.single_categories.none {
    display: none;
}

.cards__category {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 29rem;
    height: 26rem;
    cursor: pointer;
    border-radius: 19px;
    z-index: 1;
    box-shadow: -1px 15px 30px -12px black;
    transition: all 0.5s ease;
    background-color: white;
}

.cards__category:disabled {
    box-shadow: inset 0 0 0 2px red;
}

.cards__category:hover {
    transform: translate(0, -10px);
}

.cards__theme {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 29rem;
    height: 26rem;
    cursor: pointer;
}

.cards__theme.correct {
    opacity: 0.4;
    pointer-events: none;
    cursor: none;
}

.cards__theme-front,
.cards__theme-back {
    border-radius: 19px;
    box-shadow: -1px 15px 30px -12px black;
    background: white;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    transition: all 0.7s ease;
    backface-visibility: hidden;
}

.cards__theme-front:hover,
.cards__theme-back {
    box-shadow: 0px 2px 35px 14px rgba(236, 252, 166, 0.3);
}

.cards__theme-back {
    transform: scale(-1, 1);
    transform: rotateY(180deg);
}

.front-rotate {
    transform: rotateY(180deg);
}

.back-rotate {
    transform: rotateY(360deg);
}

.cards__image,
.front-image,
.back-image {
    height: 22rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 19px;
}

.front-image.size100 {
    height: 100%;
    border-radius: 19px;
}

.cards__mode {
    height: 0.4rem;
    background-color: rgb(238, 209, 2);
}

.cards__mode.play {
    height: 0.4rem;
    background-color: rgb(188, 144, 186);
}

.cards__category-title {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 5rem;
    font-family: "Inter", Verdana, sans-serif;
    font-size: 2.3rem;
    font-weight: 600;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    text-align: center;
    color: rgb(86, 50, 86);
    background-color: rgb(215, 218, 214);
    border-radius: 0 0 19px 19px;
}

.front-footer.none {
    display: none;
}

.front-footer,
.back-footer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 4rem;
    border-radius: 0 0 19px 19px;
}

.front-sound,
.front-roll-button {
    height: 4rem;
    width: 5rem;
    position: absolute;
    bottom: 0;
    background-color: rgb(100, 92, 159);
    cursor: pointer;
    transition: 0.5s ease;
}

.front-sound {
    left: 0;
    border-bottom-left-radius: 18px;
    border-top-right-radius: 30px;
}

.front-sound:hover,
.front-roll-button:hover {
    background-color: rgb(131, 73, 131);
}

.front-roll-button {
    right: 0;
    border-bottom-right-radius: 18px;
    border-top-left-radius: 30px;
}

.material-icons {
    color: white;
    font-size: 3rem;
    display: block;
    position: relative;
    width: 19px;
    height: 19px;
    top: 0.7rem;
    left: 0.8rem;
}

.front-title,
.back-title {
    width: 28rem;
    font-family: "Inter", Verdana, sans-serif;
    font-size: 2.3rem;
    font-weight: 600;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 1rem;
    color: rgb(86, 50, 86);
}

.front-arrow {
    height: 60%;
    display: block;
    position: relative;
    top: 0.9rem;
    left: 1.4rem;
    transition: all 0.2s ease;
}

.win {
    display: flex;
    justify-content: center;
    align-items: center;
}

.win__image {
    height: calc(100vh - 20rem);
}

.win.none,
.failure.none {
    display: none;
}

.failure {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 20rem);
    margin: 2rem 0;
}

.failure__title,
.failure__mistake {
    font-family: 'Sigmar One', cursive;
    color: rgb(238, 209, 2);
    font-size: 4rem;
    font-weight: 300;
    letter-spacing: 0.5rem;
    text-shadow: 1px 1px 1px black;
}

.failure__image {
    height: 70%;
    margin: 2rem 0;
}


/* Statistic table */

.statistic__container {
    display: flex;
    justify-content: center;
}

.statistic__container.none {
    display: none;
}

.table {
    width: 80%;
    /* background: white; */
    color: rgb(215, 218, 214);
    border-spacing: 1px;
}

.table__row.table_title,
.table__column.table_title {
    background: rgba(56, 51, 90, 0.4);
    padding: 0.2rem 1rem;
    /* Поля вокруг текста */
    font-family: "Inter", Verdana, sans-serif;
    font-size: 2rem;
    font-weight: 600;
    letter-spacing: 0.15em;
}

.table__row,
.table__column {
    background: rgba(115, 106, 180, 0.4);
    padding: 0.5rem 1rem;
    /* Поля вокруг текста */
    font-family: "Inter", Verdana, sans-serif;
    font-size: 1.8rem;
    font-weight: 400;
    letter-spacing: 0.1em;
}


/* footer */

.footer {
    width: 85%;
    height: 3.5rem;
    max-width: 155rem;
    margin: 3rem auto 1rem;
}

.footer__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer__link {
    font-size: 2rem;
    font-family: "Inter", Verdana, sans-serif;
    font-weight: normal;
    width: 33rem;
    color: rgb(215, 218, 214);
}

.footer__link-href-autor {
    color: black;
    font-weight: bold;
}

.footer__link-year {
    display: flex;
    justify-content: center;
}

.footer__link-rs {
    display: flex;
    justify-content: flex-end;
    height: 3.5rem;
}

.footer__link-href {
    height: 3.5rem;
    width: 8rem;
}

@media (min-width:800px) and (max-width:1460px) {
    .header__wrapper {
        height: 3.5rem;
        margin: 2.5rem auto 0;
    }
    /* MENU */
    .menu {
        padding: 7rem 0px 5rem;
    }
    /* TITLE */
    .header__title {
        font-size: 5rem;
    }
    /* Main  */
    .main {
        padding-top: 1.5rem;
    }
    /* Container for star */
    .play__result {
        height: 1.5rem;
    }
    .star-win,
    .star {
        height: 2.4rem;
        width: 2.4rem;
    }
    /* Cards properties */
    .cards__wrapper {
        column-gap: 3rem;
        row-gap: 2rem;
        margin: 1.5rem 9rem 3rem;
    }
    .cards__category {
        width: 26rem;
        height: 26rem;
    }
    .cards__category:hover {
        transform: translate(0, -0.8rem);
    }
    .cards__theme {
        width: 26rem;
        height: 26rem;
    }
    .win__image {
        height: calc(100vh - 17rem);
    }
    .failure {
        height: calc(100vh - 19rem);
    }
    .footer__link {
        font-size: 1.5rem;
        width: 33rem;
    }
}

@media (min-width:1200px) and (max-width:1400px) {
    .header__burger.open {
        transform: translate(15rem, 0);
    }
}

@media (min-width:1000px) and (max-width:1200px) {
    .header__burger.open {
        transform: translate(17rem, 0);
    }
}

@media (min-width:900px) and (max-width:1000px) {
    .header__burger.open {
        transform: translate(18rem, 0);
    }
}

@media (min-width:750px) and (max-width:900px) {
    .header__burger.open {
        transform: translate(19rem, 0);
    }
    .header__title {
        font-size: 4rem;
    }
    .cards__wrapper {
        column-gap: 2rem;
        row-gap: 2rem;
        margin: 1.5rem 8.2rem 3rem;
    }
    .cards__category {
        width: 25rem;
        height: 25rem;
    }
    .cards__category:hover {
        transform: translate(0, -0.8rem);
    }
    .cards__theme {
        width: 25rem;
        height: 25rem;
    }
    .cards__image,
    .front-image,
    .back-image {
        height: 21rem;
    }
}

@media (max-width:750px) {
    .header__wrapper {
        height: 3.5rem;
        margin: 2.5rem auto 0;
    }
    /* Burger menu */
    .header__burger.open {
        transform: translate(20rem, 0);
    }
    .switch__label {
        width: 9rem;
        height: 3.6rem;
    }
    .switch__toggle {
        width: 3rem;
        height: 3rem;
    }
    .switch__toggle:hover {
        background: rgb(255, 255, 255);
    }
    .switch__train {
        top: 0.9rem;
        left: 3.8rem;
        font-size: 1.5rem;
    }
    #switch__id:checked+.switch__label .switch__play {
        left: 1.3rem;
        font-size: 1.5rem;
    }
    #switch__id:checked+.switch__label .switch__toggle {
        transform: translateX(5.4rem);
    }
    .menu {
        padding: 8rem 0px 5rem;
        left: -40rem;
    }
    .menu__item {
        font-family: "Inter", Verdana, sans-serif;
        margin: 0.5rem 0 0 6rem;
        font-size: 2rem;
        font-weight: 600;
        letter-spacing: 0.13rem;
    }
    .menu__item i:before {
        margin-right: 20px;
        top: 7px;
        background-position: center;
        background-size: contain;
    }
    .menu__link:before {
        width: 3rem;
        height: 3rem;
    }
    .header__title {
        display: none;
    }
    .main {
        padding-top: 1.5rem;
    }
    .play__result {
        height: 1.5rem;
    }
    .star-win,
    .star {
        height: 2.4rem;
        width: 2.4rem;
    }
    .panel_start-game {
        width: 6rem;
        height: 6rem;
        right: -10rem;
        top: 15rem;
    }
    .start_game,
    .repeat_audio {
        top: 0.5rem;
        left: 0.5rem;
        width: 5rem;
        height: 5rem;
    }
    .start_game:active,
    .repeat_audio:active {
        width: 4.7rem;
        height: 4.7rem;
        top: 0.6rem;
        left: 0.6rem;
    }
    .cards__wrapper {
        column-gap: 3rem;
        row-gap: 2rem;
        margin: 1.5rem 7rem 3rem;
    }
    .cards__category {
        width: 24rem;
        height: 24rem;
    }
    .cards__category:hover {
        transform: translate(0, -0.8rem);
    }
    .cards__theme {
        width: 24rem;
        height: 24rem;
    }
    .cards__image,
    .front-image,
    .back-image {
        height: 20rem;
    }
    .cards__category-title {
        font-size: 2rem;
        letter-spacing: 0.06em;
    }
    .front-sound,
    .front-roll-button {
        height: 4rem;
        width: 4rem;
    }
    .front-roll-button {
        right: 0;
        border-bottom-right-radius: 18px;
        border-top-left-radius: 30px;
    }
    .material-icons {
        width: 14px;
        height: 14px;
        top: 0.7rem;
        left: 0.4rem;
    }
    .front-title,
    .back-title {
        font-size: 1.8rem;
        font-weight: 600;
        letter-spacing: 0em;
    }
    .front-arrow {
        left: 0.9rem;
    }
    .win__image {
        max-height: calc(100vh - 23rem);
    }
    .failure {
        display: flex;
        justify-content: center;
        height: calc(100vh - 23rem);
        margin: 2rem 0;
    }
    .failure__title {
        font-size: 2.5rem;
        letter-spacing: 0.3rem;
        text-align: center;
    }
    .failure__mistake {
        font-size: 2rem;
        letter-spacing: 0.3rem;
        text-align: center;
        margin-bottom: 2rem;
    }
    .failure__image {
        height: 60%;
        margin: 1.5rem 0;
    }
    .footer__wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .footer__link {
        font-size: 1.5rem;
        width: 25rem;
        margin-bottom: 0.5rem;
    }
    .footer__link-rs,
    .footer__link__autor {
        display: flex;
        justify-content: center;
    }
}